.infoRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
}

.infoRowLabel, .portType, .historyTimestamp, .historyDetails {
  width: 150px;
}

.historyPermission {
  width: 125px;
}

.historyLogin {
  width: 100px;
}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
}