.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.breadcrumbRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breadcrumbRow > div {
  padding-left: 16px;
}

.applications {
  flex: 1;
  height: 1px;
}